<%= render 'shared/header' %>  

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'shared/admin_menu' %>
    </div>
  
    <div class="col-md-8">
      londerson
    </div>
  </div>
</div>