<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2 sidebar-nav">
      <%= render 'layouts/menu' %>
    </div>

    <div class="span8">
      Student


    </div>

    <div class="span2 sidebar-nav pull-right">

    </div>

  </div>
</div>
