<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2 sidebar-nav">
      <%= render 'shared/menu_manage' %>
    </div>

    <div class="span8">
      Teacher


    </div>

    <div class="span2 sidebar-nav pull-right">
      <b>Publicidade</b>
    </div>

  </div>
</div>
