<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 sidebar-nav">
      <%= render 'shared/menu_manage' %>
    </div>

    <div class="span8">
      <table class="table">
        <tr class="info">
          <td><b><i class="icon-th-list"></i Posts</b> Cursos</td>
        </tr>
        <%= render 'form' %>
    </div>
    
  </div>
</div>
