<div class="span8">
  <%= form_for(@notice) do |f| %>
    <div class="field">
      <p><b>Título da notícia</b></p>
      <%= f.text_field :title, :class=>"input-xxlarge" %>
    </div>
    <div class="field">
      <p><b>Conteúdo da notícia</b></p>
      <%= f.text_area :content, :rows=>"5", :class=>"input-xxlarge" %>
    </div>
    <div class="actions">
      <%= f.submit "criar notícia", :class=>"btn btn-small btn btn-success" %>
    </div>
  <% end %>  
</div>
