<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <% if @course != nil %>
      <%= render 'course_users'  %>
    <% else %>
      <%= render 'users' %>
    <% end %>
  </div>
</div>
