<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2 sidebar-nav">
      <%= render 'layouts/menu' %>
    </div>

    <div class="span8">

    Cursos do Aluno <%= current_user.first_name %> <br><br>

    <% @user.courses.each do |course| %>
      <%= link_to course.title, course_path(course) %> <br>
    <% end %>

    </div>

    <div class="span2 sidebar-nav pull-right">
      <b>Publicidade</b>
    </div>

  </div>
</div>
