<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 sidebar-nav">
      <%= render 'shared/menu_manage' %>
    </div>
    <div class="span8">

    <% if @schedule != nil %>
      <%= @course.schedule.title %> <br />
      <%= @course.schedule.content %> <br />
    <% else %>  
      No content
    <% end %>

    </div>
  </div>
</div>

<%#= link_to 'New Schedule', new_schedule_path %>
