
<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 sidebar-nav">
      <%= render 'layouts/menu_manage' %>
    </div>
    <div class="span8">

      <%= @schedule.title %>

    </div>
  </div>
</div>

<%#= link_to 'New Schedule', new_schedule_path %>
