<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2 sidebar-nav">
      <%= render 'layouts/menu_class' %>
    </div>

    <div class="span8">
    <%= @course.title %>

    </div>

    <div class="span2 sidebar-nav pull-right">
      <b>Publicidade</b>
    </div>

  </div>
</div>
