<div class="span2 sidebar-nav">
  <%= render 'shared/menu_manage' %>
</div>

<div class="span8">

  <table class="table">
    <tr class="info">
      <td><b><i class="icon-th-list"></i> Seus Cursos</b> </td>
    </tr>
  </table>
  
  <table class="table table-condensed">
    <tr>
      <th>Titulo</th>
      <th>Instrutor</th>
    </tr>
  <% @user.courses.each do |course| %>
    <tr>
      <td><b><%= link_to course.title, course %></b></td>
      <td><%= course.instructor %></td>
    </tr>
  <% end %>
  </table>
  
</div>

<div class="span2 sidebar-nav">
  <table class="table">
    <tr class="error">
      <td><b><i class=" icon-info-sign"></i> info</b></td>
    </tr>
    <tr>
      <td>
        <small>
          Aqui você tem a possibilidade de visualizar todos os posts criados por você. Juntamente com informações
          adicionais como a <b>data</b> em que foi criada e a <b>categoria</b> que foi anexada. Além disso, é possível
          <b>editar</b> algum post que você deseja fazer alterações. Caso não deseje mais algum post, você pode <b>deletá-lo</b>
          clicando em <b>excluir</b>
        </small>
      </td>
    </tr>
  </table>
</div>