<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class="row-fluid">

    <% if current_user.has_role? :admin %>
      <%= render 'admin_index' %>
    <% elsif current_user.has_role? :teacher %>
      <%= render 'teacher_index' %>
    <% elsif current_user.has_role? :student %>
      <%= render 'student_index' %>
    <% end %>

  </div>
</div>
