<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 sidebar-nav">
      <%= render 'shared/menu' %>
    </div>
    <div class="span8">

    <% if current_user.has_role? :admin %>
      <%= render 'show_admin' %>
    <% elsif current_user.has_role? :teacher %>
      <%= render 'show_teacher' %>
    <% end %>

    </div>
  </div>
</div>
