<%= render 'shared/header' %>  

<div class="container">

  <div class="row col-md-3 sidebar-offcanvas">
    <div class="menu">
      <%= render 'shared/admin_menu' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <h4><%= @course.title %></h4>
      
      <div class="menu-course">
        <%= link_to "adicionar aluno para este curso", students_association_users_path %>
      </div>
      
      
      <div class="students-info">
        <div class="title">Estudantes desse curso</div>
        <div class="students"></div>
      </div>
    </div>
  </div>
  
</div>