<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class="row-fluid">

    <% if current_user.has_role? :admin %>
      <%= render 'admin_show' %>
    <% elsif current_user.has_role? :teacher %>
      <%= render 'teacher_show' %>
    <% end %>

  </div>
</div>
