<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to 'Painel de Controle', admin_path, class: "brand" %>
            <% if user_signed_in? %>
              <span class="navbar-text pull-right">Bem Vindo: <strong><%= current_user.email %></strong>
              <%#= link_to 'Editar Perfil', edit_user_registration_path, :class => 'navbar-link' %> |
              <strong><%= current_user.status %></strong> |
              <strong><%= link_to "Sair", logout_path, method: :delete, class: "navbar-link" %></strong>
            <% else %>
              <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
              <%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
          </span>
    </div>
  </div>
</div>
<br><br><br>

