<style type="text/css">

    #cat {
      list-style-type:none;
      margin-left: 0px;
    }

</style>

<div>
  <ul id="cat">
    <li class="nav-header">Menu</li>
    <li><b><i class="icon-home"></i> <%= link_to 'Home', admin_path %></b></li>
    <%# if can? :update, @post %>
    <li><b><i class="icon-refresh"></i> <%#= link_to 'Manutenção', maintenances_path %></b></li>
    <li><b><i class="icon-share"></i> <%#= link_to 'Fornecedores', suppliers_path %></b></li>
    <%# end %>
    <li><b><i class="icon-list-alt"></i> <%#= link_to 'Quadro de Aviso', notices_path %></b></li>
    <li><b><i class="icon-bookmark"></i> <%#= link_to 'Eventos', events_path %></b></li>
    <li><b><i class="icon-book"></i> <%#= link_to 'Livro de Ocorrências', books_path %></b></li>
    <li><b><i class="icon-random"></i> <%#= link_to 'Lista de Ramais', branches_path %></b></li>
    <li><b><i class="icon-user"></i> <%#= link_to 'Funcionários', employees_path %></b></li>
    <li><b><i class="icon-wrench"></i> <%#= link_to 'Obras', works_path %></b></li>
    <li><b><i class="icon-th-list"></i> <%#= link_to 'Classificados', classifieds_path %></b></li>
    <li><b><i class="icon-barcode"></i> <%#= link_to "2 Via de Boleto", new_billet_path %></b></li>
    <li><b><i class="icon-folder-open"></i> <%#= link_to "Documentos", documments_path %></b></li>
    <li><b><i class="icon-picture"></i> <%#= link_to "Galeria", galleries_path %></b></li>
    <li><b><i class="icon-check"></i> <%#= link_to "Reservas", reserves_path %></b></li>
    <li><b><i class="icon-arrow-down"></i> <%#= link_to 'Votações', polls_path %></b></li>
    <li><b><i class="icon-bullhorn"></i> <%#= link_to 'Anúncio', ads_path %></b></li>
    <li class="divider"></li>
    <li><b><i class="icon-off"></i> <%= link_to 'Sair', destroy_user_session_path, method: :delete %></b></li>
  </ul>
</div>
